%h1 Listing videos
= link_to 'New Video', new_video_path

%table
  %thead
    %tr
      %th Name
      %th Body
      %th
      %th
      %th

  %tbody
    - @videos.each do |video|
      %tr
        %td= video.name
        %td= video.body
        %td= link_to 'Show', video
        %td= link_to 'Edit', edit_video_path(video)
        %td= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' }

%br


