<header class="subnav-hero-section">
  <h1 class="subnav-hero-headline">
    <small>КЛУБ ФИЗИЧЕСКОГО РАЗВИТИЯ</small> "POWERFUL KIDS"
    <img src="https://s3.amazonaws.com/www.dneprpowerkids.ua/imgonline-com-ua-Transparent-backgr-7upkeH3Gfvsk.jpg" height="65px" width="65px" float="right"></img>
  </h1>
  <ul class="menu menu-hover-lines">
    <li><a class="active" href="<%= root_path(page: 'home') %>">Главная</a></li>
    <li><a href="<%= root_path(page: 'about_us') %>">О нас</a></li>
    <li><a href="<%= root_path(page: 'about_coatch') %>">Тренеры</a></li>
    <li><a href="<%= root_path(page: 'rules') %>">Правила</a></li>
    <li><a href="<%= root_path(page: 'shedule') %>">Расписание</a></li>
    <li><a href="<%= root_path(page: 'gallery') %>">Галерея</a></li>
    <% if user_signed_in? %>
      <li><a href="<%= photos_path %>">Фотографии</a></li>
      <li><a href="<%= videos_path %>">Видео</a></li>
    <% end%>
    <li><a href="<%= contacts_path %>">Контакты</a></li>
  </ul>
</header>
