<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Dnepr Power Kids" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if current_user %>
      <%= 'Привет, ' + current_user.email %>
      <%= link_to "Выйти", destroy_user_session_path, method: :delete%>
    <% end %>  
    <%= render "layouts/header" %>
    <div class="content">
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>

  </body>
</html>
